In [ ]:
# Fruad Detection

In [ ]:
# Data understandin

In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("../dataset/synthetic_fraud_dirty_somalia.csv")

In [30]:
df.shape

(5150, 10)

In [33]:
df.head(10)

,transaction_id,amount,customer_age,hour,transaction_type,merchant_category,card_type,country,device,is_fraud
0,TXN100000,56.31,68.0,23,purchase,grocery,credit,Somalia,mobile,0
1,TXN100001,361.21,57.0,4,transfer,NaN,credit,Somalia,web,0
2,TXN100002,158.01,24.0,8,transfer,travel,debit,Ethiopia,web,0
3,TXN100003,109.55,49.0,9,transfer,electronics,credit,Somalia,mobile,0
4,TXN100004,20.35,65.0,12,purchase,travel,credit,Somalia,mobile,0
5,TXN100005,20.35,36.0,14,transfer,travel,debit,Somalia,mobile,0
6,TXN100006,7.18,23.0,11,transfer,travel,credit,Ethiopia,mobile,0
7,TXN100007,241.35,37.0,4,cash_withdrawal,telecom,debit,Somalia,web,0
8,TXN100008,110.29,44.0,4,cash_withdrawal,travel,credit,Kenya,mobile,0
9,TXN100009,147.75,70.0,17,transfer,grocery,debit,Somalia,mobile,0

In [34]:
df.tail(10)

,transaction_id,amount,customer_age,hour,transaction_type,merchant_category,card_type,country,device,is_fraud
5140,TXN102528,1.07,43.0,21,purchase,electronics,credit,Somalia,web,0
5141,TXN100405,271.05,41.0,14,transfer,telecom,debit,Kenya,web,0
5142,TXN101938,82.76,23.0,15,cash_withdrawal,travel,credit,Ethiopia,web,0
5143,TXN102633,21.92,58.0,11,cash_withdrawal,electronics,credit,Somalia,web,0
5144,TXN102643,123.99,38.0,20,transfer,grocery,debit,Ethiopia,web,0
5145,TXN101988,68.91,35.0,4,purchase,telecom,debit,Somalia,Web,0
5146,TXN102093,88.91,NaN,0,purchase,grocery,credit,Kenya,mobile,0
5147,TXN103128,363.12,32.0,15,transfer,travel,credit,Somalia,web,0
5148,TXN103587,172.48,54.0,3,transfer,electronics,debit,Kenya,mobile,0
5149,TXN103625,36.66,50.0,7,purchase,NaN,debit,Kenya,mobile,0

In [35]:
df.describe(include="all")

,transaction_id,amount,customer_age,hour,transaction_type,merchant_category,card_type,country,device,is_fraud
count,5150,5150.000000,4544.000000,5150.000000,5150,4739,5150,5150,4931,5150
unique,5000,NaN,NaN,NaN,3,4,2,4,6,4
top,TXN101969,NaN,NaN,NaN,cash_withdrawal,telecom,credit,Somalia,web,0
freq,2,NaN,NaN,NaN,1750,1214,2576,2838,2215,4976
mean,NaN,319.406772,45.736356,11.660194,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,1426.577342,16.963714,7.021640,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.000000,5.000000,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,35.072500,32.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,87.150000,45.000000,12.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,175.990000,60.000000,18.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,14805.570401,97.000000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#Missing Values

In [37]:
df.isna().mean().sort_values(ascending=False)

customer_age         0.117670
merchant_category    0.079806
device               0.042524
transaction_id       0.000000
amount               0.000000
hour                 0.000000
transaction_type     0.000000
card_type            0.000000
country              0.000000
is_fraud             0.000000
dtype: float64

In [38]:
# Duplicate Rows

In [39]:
df.duplicated().sum()

np.int64(150)

In [41]:
# Duplicate Transaction IDs

In [42]:
df["transaction_id"].duplicated().sum()

np.int64(150)